<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/max/global.max.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/misc/thingy_accent.svg">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!--<script src="/js/matter-js/matter.min.js"></script>-->
    <!--<script src="/js/cannon.js" type="module"></script>-->
    <script src="/js/index.js" defer type="module"></script>

    <title>Malik | Full stack developer</title>
</head>
<body>
    <div class="app_main app_dark">
        <nav class="navbar_ light_nav">
            <div class="container d-flex h-100 align-items-center justify-content-between" style="align-items:center">
                <a href="/"><img src="/images/logos/malik_dark.svg" alt="Malik logo" class="main_logo"></a>
                <ul class="nav_links">
                    <li class="navlink_menu_item"><a href="/" class="text-dark">Home</a></li>
                    <li class="navlink_menu_item"><a href="#about_" class="text-dark">About</a></li>
                    <li class="navlink_menu_item"><a href="#blog_" class="text-dark">Blog</a></li>
                    <li class="navlink_menu_item"><a href="#about__" class="text-dark">Portfolio</a></li>
                    <li><button class="dark-button-outline">
                        <span class="" style="visibility:hidden">Contact Me</span>
                        <span class="dark-button-txt">Contact</span>
                        <div class="dark-button-filler"></div>
                    </button></li>
                </ul>
                <div class="mobile_menu_right d-lg-none">
                    <button class="dark-button-outline">
                        <span class="" style="visibility:hidden">Contact Me</span>
                        <span class="dark-button-txt">Contact</span>
                        <div class="dark-button-filler"></div>
                    </button>
                    <div class="menu_icon">
                        <svg width="50" height="50" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M107.143 0H92.857V63.253L69.162 4.60582L55.9165 9.95735L80.2255 70.124L34.3401 24.2385L24.2386 34.3401L68.2175 78.319L11.2241 53.418L5.5046 66.509L65.8105 92.857H0V107.143H65.8105L5.5046 133.491L11.2241 146.582L68.2175 121.681L24.2386 165.66L34.3401 175.761L80.2255 129.876L55.9165 190.043L69.162 195.394L92.857 136.747V200H107.143V136.747L130.838 195.394L144.083 190.043L119.775 129.876L165.66 175.761L175.761 165.66L131.782 121.681L188.776 146.582L194.495 133.491L134.19 107.143H200V92.857H134.189L194.495 66.509L188.776 53.418L131.782 78.319L175.761 34.34L165.66 24.2385L119.775 70.124L144.083 9.95735L130.838 4.60582L107.143 63.253V0Z" fill="#E94D35"/>
                            </svg>         
                    </div>

                </div>
                

            </div>
        </nav>
        <section class="header header_light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-right">
                        <h1 class="heading_text text-dark">Hi, I'm Malik <span class="highlight">,</span> A Full-stack web developer based in Jamaica <span class="highlight">.</span></h1>
                        <div class="d-flex align-items-center mt-4">
                            <button class="dark-accent-button" type="button">
                                Download Resume
                            </button>
                            <button class="dark-button-outline">
                                <span class="" style="visibility:hidden">Contact Me</span>
                                <span class="dark-button-txt">Contact</span>
                                <div class="dark-button-filler"></div>
                            </button>
                        </div>
                        <div class="d-flex mt-4 gap-4">
                            <a href="https://wa.link/9j0x1k" target="_blank">
                                <svg fill="black" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24"><path d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"/></svg>
                            </a>
                            <a href="https://github.com/Malcole123" target="_blank" style="text-decoration:none">
                                <svg fill="black" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-4.466 19.59c-.405.078-.534-.171-.534-.384v-2.195c0-.747-.262-1.233-.55-1.481 1.782-.198 3.654-.875 3.654-3.947 0-.874-.312-1.588-.823-2.147.082-.202.356-1.016-.079-2.117 0 0-.671-.215-2.198.82-.64-.18-1.324-.267-2.004-.271-.68.003-1.364.091-2.003.269-1.528-1.035-2.2-.82-2.2-.82-.434 1.102-.16 1.915-.077 2.118-.512.56-.824 1.273-.824 2.147 0 3.064 1.867 3.751 3.645 3.954-.229.2-.436.552-.508 1.07-.457.204-1.614.557-2.328-.666 0 0-.423-.768-1.227-.825 0 0-.78-.01-.055.487 0 0 .525.246.889 1.17 0 0 .463 1.428 2.688.944v1.489c0 .211-.129.459-.528.385-3.18-1.057-5.472-4.056-5.472-7.59 0-4.419 3.582-8 8-8s8 3.581 8 8c0 3.533-2.289 6.531-5.466 7.59z"/></svg>
                            </a>
                            <a href="https://linkedin.com/in/malik-coleman-47259322b" target="_blank" style="text-decoration:none">
                                <svg fill="black" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 header_image" data-aos="flip-right"></div>
                </div>
            </div>

        </section>
        <section class="about_section about_light" id="about_">
            <div class="about_section_body">
                <div class="container">
                    <div class="row h-100">
                        <div class="col-lg-6 col-md-6 col-sm-12" data-aos="zoom-out-up">
                            <h1 class="text-uppercase text-dark">Malik<br>Coleman<span class="highlight">.</span></h1>
                            <p>I enjoy figuring out innovative ways to automate tasks, . My passion is backend development but I also love the challenge of crafting a refined user experience.</p>
                            <div class="d-flex align-items-center mt-4">
                                <button class="dark-accent-button" type="button">
                                    Download Resume
                                </button>
                                <button class="dark-button-outline">
                                    <span class="" style="visibility:hidden">Contact Me</span>
                                    <span class="dark-button-txt">Contact</span>
                                    <div class="dark-button-filler"></div>
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 about_display">
                            <div class="display_chip display_chip_light"  data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-modal-control="skills">
                                <div class="display_chip_head light_chip_head">
                                    Skills
                                </div>
                                <div class="display_chip_filler light_chip_filler"></div>
                                <div class="position-absolute" style="bottom:5px;right:5px;">
                                    <svg class="thingy_parent" width="24" height="24" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path class="thingy_main_class thingy" fill="white" fill-rule="evenodd" clip-rule="evenodd" d="M107.143 0H92.857V63.253L69.162 4.60582L55.9165 9.95735L80.2255 70.124L34.3401 24.2385L24.2386 34.3401L68.2175 78.319L11.2241 53.418L5.5046 66.509L65.8105 92.857H0V107.143H65.8105L5.5046 133.491L11.2241 146.582L68.2175 121.681L24.2386 165.66L34.3401 175.761L80.2255 129.876L55.9165 190.043L69.162 195.394L92.857 136.747V200H107.143V136.747L130.838 195.394L144.083 190.043L119.775 129.876L165.66 175.761L175.761 165.66L131.782 121.681L188.776 146.582L194.495 133.491L134.19 107.143H200V92.857H134.189L194.495 66.509L188.776 53.418L131.782 78.319L175.761 34.34L165.66 24.2385L119.775 70.124L144.083 9.95735L130.838 4.60582L107.143 63.253V0Z" fill="#E94D35"/>
                                    </svg>
                                        
                                </div>
                            </div>
                            <div class="display_chip display_chip_light"  data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-modal-control="projects">
                                <div class="display_chip_head light_chip_head">
                                    Projects
                                </div>
                                <div class="display_chip_filler light_chip_filler"></div>
                                <div class="position-absolute" style="bottom:5px;right:5px;">
                                    <svg class="thingy_parent" width="24" height="24" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path class="thingy_main_class thingy" fill="white" fill-rule="evenodd" clip-rule="evenodd" d="M107.143 0H92.857V63.253L69.162 4.60582L55.9165 9.95735L80.2255 70.124L34.3401 24.2385L24.2386 34.3401L68.2175 78.319L11.2241 53.418L5.5046 66.509L65.8105 92.857H0V107.143H65.8105L5.5046 133.491L11.2241 146.582L68.2175 121.681L24.2386 165.66L34.3401 175.761L80.2255 129.876L55.9165 190.043L69.162 195.394L92.857 136.747V200H107.143V136.747L130.838 195.394L144.083 190.043L119.775 129.876L165.66 175.761L175.761 165.66L131.782 121.681L188.776 146.582L194.495 133.491L134.19 107.143H200V92.857H134.189L194.495 66.509L188.776 53.418L131.782 78.319L175.761 34.34L165.66 24.2385L119.775 70.124L144.083 9.95735L130.838 4.60582L107.143 63.253V0Z" fill="#E94D35"/>
                                    </svg>
                                        
                                </div>
                            </div>
                            <div class="display_chip display_chip_light"  data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-modal-control="experience">
                                <div class="display_chip_head light_chip_head">
                                    Experience
                                </div>
                                <div class="display_chip_filler light_chip_filler"></div>
                                <div class="position-absolute" style="bottom:5px;right:5px;">
                                    <svg class="thingy_parent" width="24" height="24" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path class="thingy_main_class thingy" fill="white" fill-rule="evenodd" clip-rule="evenodd" d="M107.143 0H92.857V63.253L69.162 4.60582L55.9165 9.95735L80.2255 70.124L34.3401 24.2385L24.2386 34.3401L68.2175 78.319L11.2241 53.418L5.5046 66.509L65.8105 92.857H0V107.143H65.8105L5.5046 133.491L11.2241 146.582L68.2175 121.681L24.2386 165.66L34.3401 175.761L80.2255 129.876L55.9165 190.043L69.162 195.394L92.857 136.747V200H107.143V136.747L130.838 195.394L144.083 190.043L119.775 129.876L165.66 175.761L175.761 165.66L131.782 121.681L188.776 146.582L194.495 133.491L134.19 107.143H200V92.857H134.189L194.495 66.509L188.776 53.418L131.782 78.319L175.761 34.34L165.66 24.2385L119.775 70.124L144.083 9.95735L130.838 4.60582L107.143 63.253V0Z" fill="#E94D35"/>
                                    </svg>
                                        
                                </div>

                            </div>
                            <div class="display_chip display_chip_light"  data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-modal-control="portfolio">
                                <div class="display_chip_head light_chip_head">
                                    Portfolio
                                </div>
                                <div class="display_chip_filler light_chip_filler"></div>
                                <div class="position-absolute" style="bottom:5px;right:5px;">
                                    <svg class="thingy_parent" width="24" height="24" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path class="thingy_main_class thingy" fill="white" fill-rule="evenodd" clip-rule="evenodd" d="M107.143 0H92.857V63.253L69.162 4.60582L55.9165 9.95735L80.2255 70.124L34.3401 24.2385L24.2386 34.3401L68.2175 78.319L11.2241 53.418L5.5046 66.509L65.8105 92.857H0V107.143H65.8105L5.5046 133.491L11.2241 146.582L68.2175 121.681L24.2386 165.66L34.3401 175.761L80.2255 129.876L55.9165 190.043L69.162 195.394L92.857 136.747V200H107.143V136.747L130.838 195.394L144.083 190.043L119.775 129.876L165.66 175.761L175.761 165.66L131.782 121.681L188.776 146.582L194.495 133.491L134.19 107.143H200V92.857H134.189L194.495 66.509L188.776 53.418L131.782 78.319L175.761 34.34L165.66 24.2385L119.775 70.124L144.083 9.95735L130.838 4.60582L107.143 63.253V0Z" fill="#E94D35"/>
                                    </svg>
                                        
                                </div>
                            </div>
                            <div class="display_chip display_chip_light"  data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-modal-control="certification">
                                <div class="display_chip_head light_chip_head">
                                    Education & Certifications
                                </div>
                                <div class="display_chip_filler light_chip_filler"></div>
                                <div class="position-absolute" style="bottom:5px;right:5px;">
                                    <svg class="thingy_parent" width="24" height="24" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path class="thingy_main_class thingy" fill="white" fill-rule="evenodd" clip-rule="evenodd" d="M107.143 0H92.857V63.253L69.162 4.60582L55.9165 9.95735L80.2255 70.124L34.3401 24.2385L24.2386 34.3401L68.2175 78.319L11.2241 53.418L5.5046 66.509L65.8105 92.857H0V107.143H65.8105L5.5046 133.491L11.2241 146.582L68.2175 121.681L24.2386 165.66L34.3401 175.761L80.2255 129.876L55.9165 190.043L69.162 195.394L92.857 136.747V200H107.143V136.747L130.838 195.394L144.083 190.043L119.775 129.876L165.66 175.761L175.761 165.66L131.782 121.681L188.776 146.582L194.495 133.491L134.19 107.143H200V92.857H134.189L194.495 66.509L188.776 53.418L131.782 78.319L175.761 34.34L165.66 24.2385L119.775 70.124L144.083 9.95735L130.838 4.60582L107.143 63.253V0Z" fill="#E94D35"/>
                                    </svg>
                                        
                                </div>
                            </div>
                            <div class="display_chip display_chip_light"  data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-modal-control="services">
                                <div class="display_chip_head light_chip_head">
                                    Services
                                </div>
                                <div class="display_chip_filler light_chip_filler"></div>
                                <div class="position-absolute" style="bottom:5px;right:5px;">
                                    <svg class="thingy_parent" width="24" height="24" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                                        <path class="thingy_main_class thingy" fill="white" fill-rule="evenodd" clip-rule="evenodd" d="M107.143 0H92.857V63.253L69.162 4.60582L55.9165 9.95735L80.2255 70.124L34.3401 24.2385L24.2386 34.3401L68.2175 78.319L11.2241 53.418L5.5046 66.509L65.8105 92.857H0V107.143H65.8105L5.5046 133.491L11.2241 146.582L68.2175 121.681L24.2386 165.66L34.3401 175.761L80.2255 129.876L55.9165 190.043L69.162 195.394L92.857 136.747V200H107.143V136.747L130.838 195.394L144.083 190.043L119.775 129.876L165.66 175.761L175.761 165.66L131.782 121.681L188.776 146.582L194.495 133.491L134.19 107.143H200V92.857H134.189L194.495 66.509L188.776 53.418L131.782 78.319L175.761 34.34L165.66 24.2385L119.775 70.124L144.083 9.95735L130.838 4.60582L107.143 63.253V0Z" fill="#E94D35"/>
                                    </svg>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="articles_section" id="blog_">
            <div class="container">
            
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12 col-sm-12" style="padding:20px 35px;">
                        <h2 class="text-black" data-aos="zoom-in">Articles</h2>
                        <p class="text-dark fs-3" data-aos="fade-left">Check out my latest articles</p>
                        <div class="d-flex align-items-center mt-4">
                            <button class="dark-button-outline">
                                <span class="" style="visibility:hidden">View</span>
                                <span class="dark-button-txt">View</span>
                                <div class="dark-button-filler"></div>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row g-2">
                            <%data.articles.forEach((article,index)=>{ %>
                            <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-up">
                                <div class="app_card app_card_large">
                                    <div class="w-100">
                                        <h6 class="highlight">Title</h6>
                                        <h3 class="fw-bold text-capitalize"><%=article.title%></h3>
                                    </div>
                                    <div class="w-100">
                                        <h6 class="highlight">Description</h6>
                                        <p><%=article.short_description%></p>
                                        <button class="dark-button-outline mt-2">
                                            <span class="" style="visibility:hidden">Read..</span>
                                            <span class="dark-button-txt">Read..</span>
                                            <div class="dark-button-filler"></div>
                                        </button>
                                    </div>

                                </div>
                            </div>
                       <%  })%>
                        </div>
                    </div>
                  
                </div>
            </div>
        </section>
        <section class="contact_section bg-white" id="contact_">
            <div class="contact_section_body bg-white" data-aos="fade-up" data-aos-duration="700">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-6 col-md-4 col-sm-12">
                            <h2>Contact</h2>
                            <div class="d-flex mt-4 gap-4">
                                <a href="https://wa.link/9j0x1k" target="_blank">
                                    <svg fill="black" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"/></svg>
                                </a>
                                <a href="https://github.com/Malcole123" target="_blank" style="text-decoration:none">
                                    <svg fill="black" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-4.466 19.59c-.405.078-.534-.171-.534-.384v-2.195c0-.747-.262-1.233-.55-1.481 1.782-.198 3.654-.875 3.654-3.947 0-.874-.312-1.588-.823-2.147.082-.202.356-1.016-.079-2.117 0 0-.671-.215-2.198.82-.64-.18-1.324-.267-2.004-.271-.68.003-1.364.091-2.003.269-1.528-1.035-2.2-.82-2.2-.82-.434 1.102-.16 1.915-.077 2.118-.512.56-.824 1.273-.824 2.147 0 3.064 1.867 3.751 3.645 3.954-.229.2-.436.552-.508 1.07-.457.204-1.614.557-2.328-.666 0 0-.423-.768-1.227-.825 0 0-.78-.01-.055.487 0 0 .525.246.889 1.17 0 0 .463 1.428 2.688.944v1.489c0 .211-.129.459-.528.385-3.18-1.057-5.472-4.056-5.472-7.59 0-4.419 3.582-8 8-8s8 3.581 8 8c0 3.533-2.289 6.531-5.466 7.59z"/></svg>
                                </a>
                                <a href="https://linkedin.com/in/malik-coleman-47259322b" target="_blank" style="text-decoration:none">
                                    <svg fill="black" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
                                </a>                            </div>
                          
                        </div>
                        <div class="col-lg-6 col-md-8 col-sm-12" style="z-index:2;">
                            <form class="w-100" id="contactForm_">
                                <div class="w-100">
                                    <label for="_id_Name">Name</label>
                                    <input type="text" name="name_" id="_id_Name" class="form-control" required>
                                </div>
                                <div class="w-100 mt-2">
                                    <label for="_id_Email">Email</label>
                                    <input type="email" name="name_" id="_id_Email" class="form-control" required>
                                </div>
                                <div class="w-100 mt-2">
                                    <label for="_id_Message">Your message</label>
                                    <textarea type="text" name="name_" id="_id_Message" class="form-control" rows="5" style="resize:none;" required></textarea>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12 mt-3">
                                    <button class="dark-button-outline w-100 bg-white" type="submit">
                                        <span class="" style="visibility:hidden">Send</span>
                                        <span class="dark-button-txt">Send
                                            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" id="formLoader"></span>
                                        </span>
                                        <div class="dark-button-filler"></div>
                                    </button>
                                </div>
                            </form>
                            <div class="w-100 d-none" id="successSentArea">
                                <h4>Thanks for submitting your message. I'll review your message and get back to you as soon as possible</h4>
                            </div>
                            <div class="w-100 d-none" id="errorSentArea">
                                <h4>Something went wrong. Please try again later.</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100 " style="position:absolute;bottom:-4%;left:5px;">
                    <div class="d-block position-relative" >
                        <div class="cannon_ball d-none" id="cannonBall" style="height:2em;width:2em;background:#333;border-radius:50%;position:absolute"></div>
                        <svg width="130" height="120" fill="none" xmlns="http://www.w3.org/2000/svg" >
                            <g id="canon">
                            <g id="rotate_cannon">
                            <g id="Rotate">
                            <g id="Group">
                            <path id="Vector" d="M109.577 71.967L130 66.7644L113.047 0L92.5889 5.167L94.333 12.0034L68.5392 18.5598L69.5782 22.6479L95.3735 16.0911L106.793 61.0449L82.1473 67.3129C78.5253 57.9846 69.3745 51.6303 59.2175 51.6303C45.65 51.6303 34.6122 62.6682 34.6122 76.2356C34.6122 77.2688 34.678 78.3101 34.8072 79.3531L29.1354 80.7887L20.4722 46.716L81.1075 31.3188L80.0696 27.2304L19.4299 42.6286L17.6914 35.833L63.9546 24.0774L62.9157 19.9893L26.1883 29.3247L24.1363 21.1448L11.1771 24.4179L12.2103 28.5076L21.0729 26.2692L22.0999 30.3629L14.4929 32.2926L3.71281 35.0226C1.06863 35.7084 -0.501275 38.3287 0.145171 41.0143L4.58371 58.4871L8.67211 57.4486L4.23967 40.0017C4.14166 39.5952 4.37043 39.21 4.75967 39.1092L13.603 36.8697L15.865 45.711L25.047 81.8279L16.1964 84.0862C15.7977 84.1766 15.4085 83.9526 15.3128 83.5903L10.0965 63.0566L6.00812 64.0951L11.2292 84.6481C11.8167 86.8728 13.7914 88.3279 15.9965 88.3279C16.3898 88.3279 16.7913 88.2812 17.1927 88.1847L28.1229 85.3961L35.6875 83.4816C37.1073 88.0771 39.8729 92.2097 43.6238 95.2812C44.2063 95.758 44.8104 96.2041 45.4312 96.6231H15.6307V100.841L108.428 100.841V96.6231L72.9795 96.6231C79.5176 92.1954 83.8228 84.709 83.8228 76.2359C83.8228 74.569 83.6575 72.9382 83.3373 71.3627L107.833 65.1328L109.577 71.967ZM59.2173 96.6231C49.6422 96.6231 41.2501 89.8392 39.2658 80.5112C38.9769 79.0913 38.8298 77.6527 38.8298 76.2356C38.8298 64.9939 47.9753 55.8485 59.217 55.8485C68.2061 55.8485 76.2427 61.8511 78.7615 70.4456L78.7683 70.4689C79.3231 72.2841 79.6044 74.2242 79.6044 76.2359C79.6044 87.4773 70.4587 96.6231 59.2173 96.6231ZM97.7214 8.22149L109.995 5.12129L124.874 63.7173L112.621 66.8386L97.7214 8.22149Z" fill="black"/>
                            </g>
                            <g id="Vector 1">
                            <path d="M15.6165 100.835L15.6896 96.6465L45.3958 96.7127C56.8629 102.133 62.8793 101.589 73.0815 96.6325L108.38 96.6138L108.434 100.805L15.6165 100.835Z" fill="white"/>
                            <path d="M45.2741 96.655C45.3147 96.6743 45.3553 96.6935 45.3958 96.7127M45.3958 96.7127C56.8629 102.133 62.8793 101.589 73.0815 96.6325L108.38 96.6138L108.434 100.805L15.6165 100.835L15.6896 96.6465L45.3958 96.7127Z" stroke="white"/>
                            </g>
                            </g>
                            <g id="wheel">
                            <circle id="Ellipse 1" cx="59.1461" cy="76.172" r="24.082" stroke="black" stroke-width="5"/>
                            </g>
                            <g id="cannon_detail">
                            <g id="Group_2">
                            <g id="Group_3">
                            <path id="Vector_2" d="M90.391 24.4258L83.5565 26.0221L84.5159 30.1298L91.3504 28.5336L90.391 24.4258Z" fill="black"/>
                            </g>
                            </g>
                            <g id="Group_4">
                            <g id="Group_5">
                            <path id="Vector_3" d="M100.695 53.6532L95.2392 55.0312L96.2723 59.1212L101.728 57.7431L100.695 53.6532Z" fill="black"/>
                            </g>
                            </g>
                            <g id="Group_6">
                            <g id="Group_7">
                            <path id="Vector_4" d="M93.8452 49.5935L88.3903 50.9715L89.4232 55.0607L94.8782 53.6828L93.8452 49.5935Z" fill="black"/>
                            </g>
                            </g>
                            </g>
                            </g>
                            <g id="fixed_point">
                            <path id="Polygon 1" d="M54.7224 67.5853C54.7602 67.5156 54.7792 67.4808 54.7922 67.4573C56.6987 64.0351 61.6216 64.0351 63.5281 67.4573C63.5412 67.4808 63.5601 67.5156 63.5979 67.5852L79.5163 96.8954C79.5512 96.9598 79.5687 96.992 79.5808 97.0148C81.3344 100.325 78.9599 104.317 75.2143 104.355C75.1884 104.356 75.1518 104.356 75.0785 104.356H43.2418C43.1685 104.356 43.1319 104.356 43.1061 104.355C39.3605 104.317 36.9859 100.325 38.7395 97.0148C38.7516 96.992 38.7691 96.9598 38.8041 96.8954L54.7224 67.5853Z" fill="#FF4C29"/>
                            <g id="Group_8">
                            <path id="Vector_5" d="M54.5899 76.8567C54.5899 79.3343 56.6056 81.3501 59.0835 81.3501C61.5614 81.3501 63.5769 79.3343 63.5769 76.8567C63.5769 74.3788 61.5614 72.3633 59.0835 72.3633C56.6056 72.3633 54.5899 74.3788 54.5899 76.8567ZM59.5258 76.8567C59.5258 77.1005 59.3275 77.2988 59.0838 77.2988C58.8398 77.2988 58.6415 77.1005 58.6415 76.8567C58.6415 76.6127 58.8398 76.4144 59.0838 76.4144C59.3273 76.4144 59.5258 76.6127 59.5258 76.8567Z" fill="white"/>
                            </g>
                            </g>
                            </g>
                        </svg>               
                    </div>
    
                </div>                 
                     
            </div>
        </section>
        <section class="footer container bg-black">
            <div class="row g-4 w-100">
                <div class="col-lg-3">
                    <img src="/images/logos/malik_light.svg" alt="Malik logo" class="main_logo" data-aos="zoom-in">
                </div>
                <div class="col-lg-9 d-flex justify-content-end align-items-center">
                    <ul class="nav_links" style="position:static;background:black;">
                        <li class="navlink_menu_item d-block" data-aos="fade-up"><a href="#" class="text-white">Home</a></li>
                        <li class="navlink_menu_item d-block" data-aos="fade-up"><a href="/#about_" class="text-white">About</a></li>
                        <li class="navlink_menu_item d-block" data-aos="fade-up"><a href="#blog_" class="text-white">Blog</a></li>
                        <li class="navlink_menu_item d-block" data-aos="fade-up"><a href="#about__" class="text-white">Portfolio</a></li>
                        <li data-aos="fade-up">
                            <div class="d-flex align-items-center">
                                <button class="accent-button" type="button">
                                    Download Resume
                                </button>
                                <button class="light-button-outline">
                                    <span class="" style="visibility:hidden">Contact Me</span>
                                    <span class="light-button-txt">Contact</span>
                                    <div class="light-button-filler"></div>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <div class="d-flex gap-4">
                        <a href="https://wa.link/9j0x1k" target="_blank">
                            <svg fill="white" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24"><path d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"/></svg>
                        </a>
                        <a href="https://github.com/Malcole123" target="_blank" style="text-decoration:none">
                            <svg fill="white" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-4.466 19.59c-.405.078-.534-.171-.534-.384v-2.195c0-.747-.262-1.233-.55-1.481 1.782-.198 3.654-.875 3.654-3.947 0-.874-.312-1.588-.823-2.147.082-.202.356-1.016-.079-2.117 0 0-.671-.215-2.198.82-.64-.18-1.324-.267-2.004-.271-.68.003-1.364.091-2.003.269-1.528-1.035-2.2-.82-2.2-.82-.434 1.102-.16 1.915-.077 2.118-.512.56-.824 1.273-.824 2.147 0 3.064 1.867 3.751 3.645 3.954-.229.2-.436.552-.508 1.07-.457.204-1.614.557-2.328-.666 0 0-.423-.768-1.227-.825 0 0-.78-.01-.055.487 0 0 .525.246.889 1.17 0 0 .463 1.428 2.688.944v1.489c0 .211-.129.459-.528.385-3.18-1.057-5.472-4.056-5.472-7.59 0-4.419 3.582-8 8-8s8 3.581 8 8c0 3.533-2.289 6.531-5.466 7.59z"/></svg>
                        </a>
                        <a href="https://linkedin.com/in/malik-coleman-47259322b" target="_blank" style="text-decoration:none">
                            <svg fill="white" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
                        </a>       
                     </div>
                </div>
            </div>
        </section>
        <section class="app_modal">
            <div class="app_modal_body" data-aos="zoom-in-down">
                <div class="app_modal_body_head">
                    <h4 id="modal_body_title">Skills</h4>
                    <span id="closeAppModal" style="cursor:pointer">Close&nbsp;<button type="button" class="btn btn-close"></button></span>
                </div>
                <div class="app_modal_body_body d-none" id="skills_about_area">
                    <div class="app_modal_body_inner w-100">
                        <div class="container-fluid">
                            <div class="row g-3 w-100">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="app_card">
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <h6 class="highlight">Skill</h6>
                                            <h6 class="highlight text-right">Years of experience</h6>
                                        </div>
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <h3 class="fw-bold">HTML</h3>
                                            <h2 class="text-black text-right fw-bold">3 years</h2>
                                        </div>
                                        <div class="w-100">
                                            <h6 class="highlight">Description</h6>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, dolor eligendi eum minus molestias id?</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="app_card">
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <h6 class="highlight">Skill</h6>
                                            <h6 class="highlight text-right">Years of experience</h6>
                                        </div>
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <h3 class="fw-bold">CSS</h3>
                                            <h2 class="text-black text-right fw-bold">3 years</h2>
                                        </div>
                                        <div class="w-100">
                                            <h6 class="highlight">Description</h6>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, dolor eligendi eum minus molestias id?</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="app_card">
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <h6 class="highlight">Skill</h6>
                                            <h6 class="highlight text-right">Years of experience</h6>
                                        </div>
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <h3 class="fw-bold">Javascript</h3>
                                            <h2 class="text-black text-right fw-bold">3 years</h2>
                                        </div>
                                        <div class="w-100">
                                            <h6 class="highlight">Description</h6>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, dolor eligendi eum minus molestias id?</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="app_card">
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <h6 class="highlight">Skill</h6>
                                            <h6 class="highlight text-right">Years of experience</h6>
                                        </div>
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <h3 class="fw-bold">Wordpress</h3>
                                            <h2 class="text-black text-right fw-bold">2 years</h2>
                                        </div>
                                        <div class="w-100">
                                            <h6 class="highlight">Description</h6>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, dolor eligendi eum minus molestias id?</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="app_card">
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <h6 class="highlight">Skill</h6>
                                            <h6 class="highlight text-right">Years of experience</h6>
                                        </div>
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <h3 class="fw-bold">Web Design</h3>
                                            <h2 class="text-black text-right fw-bold">2 years</h2>
                                        </div>
                                        <div class="w-100">
                                            <h6 class="highlight">Description</h6>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, dolor eligendi eum minus molestias id?</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="app_card">
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <h6 class="highlight">Skill</h6>
                                            <h6 class="highlight text-right">Years of experience</h6>
                                        </div>
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <h3 class="fw-bold">Javascript</h3>
                                            <h2 class="text-black text-right fw-bold">3 years</h2>
                                        </div>
                                        <div class="w-100">
                                            <h6 class="highlight">Description</h6>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, dolor eligendi eum minus molestias id?</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="app_card">
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <h6 class="highlight">Skill</h6>
                                            <h6 class="highlight text-right">Years of experience</h6>
                                        </div>
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <h3 class="fw-bold">Vue.JS</h3>
                                            <h2 class="text-black text-right fw-bold">3 years</h2>
                                        </div>
                                        <div class="w-100">
                                            <h6 class="highlight">Description</h6>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, dolor eligendi eum minus molestias id?</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="app_card">
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <h6 class="highlight">Skill</h6>
                                            <h6 class="highlight text-right">Years of experience</h6>
                                        </div>
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <h3 class="fw-bold">Node.JS</h3>
                                            <h2 class="text-black text-right fw-bold">1 year</h2>
                                        </div>
                                        <div class="w-100">
                                            <h6 class="highlight">Description</h6>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, dolor eligendi eum minus molestias id?</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="app_card">
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <h6 class="highlight">Skill</h6>
                                            <h6 class="highlight text-right">Years of experience</h6>
                                        </div>
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <h3 class="fw-bold">Web-scraping</h3>
                                            <h2 class="text-black text-right fw-bold">1 year</h2>
                                        </div>
                                        <div class="w-100">
                                            <h6 class="highlight">Description</h6>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, dolor eligendi eum minus molestias id?</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="app_modal_body_body d-none" id="projects_about_area">

                    <div class="app_modal_body_inner w-100">
                        <div class="container-fluid">
                            <div class="row g-3 w-100">
                                <%data.projects.forEach((project,index)=>{ %>
                                <div class="col-lg-12 col-md-12 col-sm-12">              
                                    <div class="app_card app_card_large app_card_fit">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="app_card_image w-100" style="background-image:url('<%=project.mainImage%>')"></div>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-12">
                                                <div class="w-100">
                                                    <h6 class="highlight">Title</h6>
                                                    <h3 class="fw-bold"><%=project.name%></h3>
                                                </div>
                                                <div class="w-100">
                                                    <h6 class="highlight">Description</h6>
                                                    <p><%=project.short_description%></p>
                                                    <a class="dark-button-outline mt-2" href="<%=project.link%>" target="_blank">
                                                        <span class="" style="visibility:hidden">View</span>
                                                        <span class="dark-button-txt">View</span>
                                                        <div class="dark-button-filler"></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                
                  
                                </div>
                                <% }) %>

                            
                            </div>
                        </div>
                    </div>               
                 </div>
                 <div class="app_modal_body_body d-none" id="experience_about_area">

                    <div class="app_modal_body_inner w-100">
                        <div class="container-fluid">
                            <div class="row g-3 w-100">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="app_card app_card_extra_large">
                                        <div class="w-100">
                                            <h6 class="highlight">Job Title</h6>
                                            <h5 class="fw-bold">Full-stack Developer</h5>
                                        </div>
                                        <div class="w-100">
                                            <h6 class="highlight">Company</h6>
                                            <h5 class="fw-bold">Digita Global Marketing</h5>
                                        </div>
                                        <div class="w-100">
                                            <h6 class="highlight">Description</h6>
                                            <p>Build, customize and manage wordpress websites and hosting</p>
                                        </div>
                        
                                        <div class="w-100">
                                            <h6 class="highlight">Start - End</h6>
                                            <p>Apr. 2022 - Jun. 2022</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="app_card app_card_extra_large">
                                        <div class="w-100">
                                            <h6 class="highlight">Job Title</h6>
                                            <h5 class="fw-bold">Freelance</h5>
                                        </div>
                                        <div class="w-100">
                                            <h6 class="highlight">Company</h6>
                                            <h5 class="fw-bold">Upwork</h5>
                                        </div>
                                        <div class="w-100">
                                            <h6 class="highlight">Description</h6>
                                            <p>Build MVPs, API design, Wordpress migration, No code app development</p>
                                        </div>
                                        <div class="w-100">
                                            <h6 class="highlight">Start - End</h6>
                                            <p>Oct. 2020 - Present</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="app_card app_card_extra_large">
                                        <div class="w-100">
                                            <h6 class="highlight">Job Title</h6>
                                            <h5 class="fw-bold">Tech. Support Rep.</h5>
                                        </div>
                                        <div class="w-100">
                                            <h6 class="highlight">Company</h6>
                                            <h5 class="fw-bold">Sutherland Global Services</h5>
                                        </div>
                                        <div class="w-100">
                                            <h6 class="highlight">Description</h6>
                                            <p>Provide technical support for Amazon prime services and fire devices</p>
                                        </div>
                                        <div class="w-100">
                                            <h6 class="highlight">Start - End</h6>
                                            <p>Nov. 2020 - Mar. 2021</p>
                                        </div>
                                    </div>
                                </div>
                           
                            </div>
                        </div>
                    </div>               
                 </div>
            </div>
        </section>
    </div>
</body>
</html>